
openapi: 3.0.3
info:
  title: GVC eSIM API
  version: "1.0.0"
  description: API documentation for eSIM management provided by Global Voice Connect.

servers:
  - url: https://globalesim.net/api

paths:
  /country-plans:
    post:
      summary: Get plans by ISO2 country
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email, password, iso2_country]
              properties:
                email:
                  type: string
                password:
                  type: string
                iso2_country:
                  type: string
                  example: US
      responses:
        '200':
          description: Successful response with plans list

  /esim_apply:
    post:
      summary: Activate an eSIM plan
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [bundle, email, password]
              properties:
                bundle:
                  type: string
                  example: esims_1GB_7D_AL_V2
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
      responses:
        '200':
          description: eSIM activated successfully

  /esim_balance:
    post:
      summary: Check eSIM balance
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [username, password, iccid]
              properties:
                username:
                  type: string
                password:
                  type: string
                iccid:
                  type: string
      responses:
        '200':
          description: Successful balance response

  /location:
    post:
      summary: Get last known location of eSIM
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [username, password, iccid]
              properties:
                username:
                  type: string
                password:
                  type: string
                iccid:
                  type: string
      responses:
        '200':
          description: Location details returned

  /esim_recharge:
    post:
      summary: Recharge an eSIM
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [username, password, iccid]
              properties:
                username:
                  type: string
                password:
                  type: string
                iccid:
                  type: string
      responses:
        '200':
          description: Recharge was successful
