openapi: 3.0.3
info:
  title: GVC eSIM Activation API
  version: 1.0.0
  description: API to order and assign eSIM plans via eSIM-GO.

servers:
  - url: https://api.esim-go.com/v2.4

paths:
  /orders:
    post:
      summary: Activate a new eSIM bundle
      description: Places an order to activate a new eSIM bundle using eSIM-GO.
      operationId: createEsimOrder
      tags:
        - eSIM Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - assign
                - Order
              properties:
                type:
                  type: string
                  example: transaction
                assign:
                  type: boolean
                  example: true
                Order:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - quantity
                      - item
                      - allowReassign
                      - iccids
                    properties:
                      type:
                        type: string
                        example: bundle
                      quantity:
                        type: integer
                        example: 1
                      item:
                        type: string
                        example: esim_1GB_7D_AL_V2
                      iccids:
                        type: array
                        items:
                          type: string
                        example: []
                      allowReassign:
                        type: boolean
                        example: true
      responses:
        '200':
          description: eSIM Order placed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderReference:
                    type: string
                    example: ORD-20240312345
                  status:
                    type: string
                    example: Success
                  Data:
                    type: object
                    properties:
                      esims:
                        type: array
                        items:
                          type: object
                          properties:
                            iccid:
                              type: string
                              example: 89882123456789012345
                            msisdn:
                              type: string
                              example: ""
                            sku:
                              type: string
                              example: esim_1GB_7D_AL_V2
                            qrcode_url:
                              type: string
                              example: https://cdn.esim-go.com/qr/abc123.png
                            activationDate:
                              type: string
                              example: 31-03-2025
                      currency:
                        type: string
                        example: USD
                      amount:
                        type: number
                        example: 10.00
                      openingBalance:
                        type: number
                        example: 100
                      closingBalance:
                        type: number
                        example: 90
                  Msg:
                    type: string
                    example: Order created successfully
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server error
components: {}
